/* font-family: 'Special Elite', cursive; */

/* font-family: 'Eater', cursive;  */

/* font-family: 'Chelsea Market', cursive; */

/* font-family: 'Fontdiner Swanky', cursive; */

/* font-family: 'Belgrano', serif; */

* {
  /* border: 2px solid white; */
}

body {
  background-image: url('https://www.planwallpaper.com/static/images/abstract_colorful_textures_widescreen_desktop_background_picture-331.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  color: white;
  font-family: monospace, sans-serif;
}

.header {
  display: flex;
  justify-content: start;
  margin: 20px;
  width: 1400px;
}

.logo {
  width: 125px;
  height: 125px;
  margin-top: 10px;
}

.log-text {
  font-family: 'Fontdiner Swanky', cursive;
  letter-spacing: .7em;
  font-size: 40px;
  padding-left: 30px;
}

main {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 20px;
}

.ass-img {
  border-radius: 5px;
  width: 400px;
  height: 400px;
  margin-right: 40px;
  margin-bottom: 10px;
  box-shadow: 10px 10px black;
}

.cont-img {
  border-radius: 5px;
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-bottom: 10px;
  box-shadow: 10px 10px black;
}

main button {
  background: transparent;
  /* border: none; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: block;
  padding: 10px;
  margin-left: 30%;
  margin-bottom: 50px;
  margin-top: 10px;
}

/* the below code gets rid of blue border on buttons */

button:focus {
  outline: 0;
}

main a {
  text-decoration: none;
  border: none;
}

/* assassins page */

.header button {
  font-weight: bold;
  font-size: 24px;
  /* padding: 20px; */
  line-height: 0.1;
  text-decoration: none;
  border: none;
  background: transparent;
  color: white;
  font-family: 'Belgrano', serif;
}

.header a {
  padding: 5px;
  padding-top: 10px;
  text-decoration: none;
}

.top-buttons {
  margin-left: 30%;
  padding-top: 60px;
  padding-left: 60px;
  width: 400px;
}

.active {
  border-bottom: 1px solid red;
  /* padding: 10px; */
}

  /* assassins_new.html page */


.form-new {
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.left {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* width: 45%; */
  margin-left: 250px;
}

.right {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  /* width: 45%; */
  margin-left: 50px;
}

label {
  font-size: 24px;
}
.add-btn {
  font-size: 24px;
  width: 180px;
  margin-left: 0;
  box-shadow: 8px 8px black;
}
