<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <section>
    <% for(let i = 0; i < date.length; i++) { %>
      <%=data[i].fullnames%>
      <%}%>
  </section>

  </body>
</html>
